*{
  scrollbar-width: none !important;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar { 
  display: none;
  width: 0 !important;
}

.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: black;
}

.body{
    background-color: white;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    text-align: center;
    color: black;
}


/* MainPage */

.notDisplay {
    display: none;
}

.main-body {
    background-color: white;
    display: inline-block;
    width: 480px;
    overflow-x: hidden;
}


